@media (max-width: 600px){
    .frase{
        width: 100%;
        height: 170px;
    }
    .frase > p{
        width: 90%;
        height: 390px;
        font-size: 35px;
    }
    .banner{
        height: 700px;
    }
    .banner img{
        width: 85%;
    }
    .ingredientes{
        flex-direction: column;
    }
    .imagens{
        width: 100%;
        height: 2000px;
    }
    .imagens img{
        width: 350px;
    }
    .preparo{
        width: 100%;
        height: 2000px;
    }
    .preparo > p{
        width: 90%;
        height: 240px;
        font-size: 30pt;
    }
    footer{
        height: 540px;
        flex-direction: column;
    }
    footer img{
        display: none;
    }
    .painel{
        text-align: center;
    }
    .painel h3{
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 35px;
        right: 0px;
    }
}